/*==================== INDEX PAGE ====================*/
#index-cuerpo, #financial-cuerpo {
    margin: 0%;
    background-color: #c5cbe3;
}
.abstract {
    position: absolute;
    z-index: 1;
}




/*==================== INDEX PAGE ====================*/

/* Index Logo, Navbar, and section below Logo */
header nav{
    display: flex;
    justify-content: space-between;
    background-color: #4056a1;
}

#borderlessDreams { /* Index Logo */
    transform: translate(10%, 16%);
}
header img {
    display: block;
    height: 120px;
    width: 240px;
}

header ul { /* Index Navbar */
    list-style: none;
    padding: 0%;
    margin: 0%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLink, .navLink2 {
    padding-right: 15px;
}
.navLink a, .navLink2 a {
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Libre Franklin', sans-serif;
    color: #c5cbe3;
}
.navLink a {
    padding: 5px 10px;
    border: solid 1px #d79922;
    border-radius: 18px;
}

.navLink a:hover {
    background-color: #d79922;
    color: #4056a1;
}
.navLink2 a:hover {
    border-bottom: 1px solid #d79922;
}

.dropdown-button {
    cursor: pointer;
    margin: 20px 20px 0px 0px;
    height: 50px;
    width: 50px;
    display: none;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    border-color: #d79922;
}
.dropdown-button img {
    height: 50px;
    width: 50px;
}

#logoNameHolder { /* logo name holder */
    background-color: #c5cbe3;
    width: 100%;
    display: inline-block;
    height: 20px;
}




/* Index Slideshow */
.slideContainer {
    background-color: #c5cbe3;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 15px 0px;
}
.slideTrack {
    display: flex;
    overflow: hidden;
    width: 930px; /*310, 620, 930*/
    justify-content: flex-start;
}
.slideTrack a {
    padding: 20px 30px;
    animation: iconSlide 18s ease-in-out 2s infinite alternate none;
}
.slideTrack img {
    height: 250px; /* starting index-slide-img*/
    width: 250px;
    display: block;
}
.slideTrack a:hover {
    border-bottom: #f13c20 solid 5px;
}
@keyframes iconSlide {
    from {transform: translateX(0px);}
    to {transform: translateX(calc(100% * -5));}
}

.slideContainer p {
    font-size: 1.75em;
    color: #f13c20;
    font-family: 'Libre Franklin', sans-serif;
}

#index-slide-abstract {
    height: 290px;
    width: 290px;
    bottom: 0px;
    right: 20px;
}





/* splitContainer source code + index split */
.splitContainer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 30px 0px;
    position: relative;
    overflow: hidden;
}
.splitContainer a {
    color: #efe2ba;
    background-color: #4056a1;
    border-radius: 10px;
    text-decoration: none;
    padding: 1px 5px;
}
.splitContainer a:hover { /*financial links*/
    color: #f13c20;
}
#index-split-container {
    background-color: #4056a1;
}
#index-split-image, #financial-split-image, #financial-split-tax-image { /* cant unify because abstracts are also img, unify with a class dumbo */ 
    height: 400px;
    width: 400px;
    z-index: 2;
}
.splitContainer p {
    margin: 0%;
    max-width: 45%;
    font-family: 'Libre Franklin', sans-serif;
    z-index: 2;
    line-height: 1.25;
}
#index-split-text {
    color: #efe2ba; /* unique to index split */
    font-size: 2em; /* unique to index split */ 
}
#index-split-header{
    color: #d79922;
} 
#index-split-abstract {
    left: 0;
    top: 50%;
    height: 440px;
    width: 440px;
}
.split-hidden {
    position: absolute;
    display: none;
}



.questionContainer {
    background-color: #d79922;
    padding: 25px 0px;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}
.questionContainer .questionsHeader {
    font-size: 2em;
    color: red;
    margin: 0%;
}
.questionContainer .question {
    font-size: 1.5em;
    padding: 15px 0px;
    margin: auto;
    display: inline-block;
}
.questionContainer .answerToggle {
    font-size: .5em;
}
.questionContainer .answer {
    color: white;
    width: 90%;
    margin: auto;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}









/*==================== FINANCIAL PAGE ====================*/

/* financial split */
#financial-split-text {
    color: #4056a1; /* unique to financial split */
    font-size: 1.8em; /* unique to financial split */
}
#financial-split-header {
    color: #f13c20;
}
/*financial-split-image { 400x400 with z-index = 2 }, w/ split source code */
/* no abstract in this splitContainer */






/* financial information container */
.financial-info-bubble {
    color: white;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    background-color: #efe2ba;
    line-height: 1.3;
}
.financial-bubble-heading {
    color: white;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 0%;
    background-color: #4056a1;
    padding: 5px;
}
.financial-bubble-text {
    margin: 0%;
    padding: 15px;
    color: #4056a1;
    font-family: 'Libre Franklin', sans-serif;
}
.financial-bubble-question {
    color: #4056a1;
    font-size: 1.5em;
    display: block;
}
.financial-bubble-answer a {
    color: #f13c20;
    text-decoration: none;
}
.financial-bubble-button {
    font-size: .9em;
    border-radius: 30px;
    background-color: #efe2ba;
    border-color: #d79922;
    cursor: pointer;
}
@media(hover: hover) and (pointer: fine) { /*makes :hover effect not stay active on touch screeens*/
    .financial-bubble-button:hover {
        background-color: #d79922;
        border-color: #efe2ba;
    }
}





#financial-split-tax-text {
    color: #4056a1;
    font-size: 1.8em;
}
#financial-split-tax-header {
    color: #f13c20;
}





/*==================== RESPONSIVENESS ====================*/

@media only screen and (max-width: 1190px) {
    /*----- INDEX : slideshow -----*/
    .slideTrack {
        width: 690px; /* 230, 460, 690 */
    }
    .slideTrack a {
        padding: 10px 15px;
    }
    .slideTrack img {
        height: 200px; /* 250 -> 200 */
        width: 200px;
    }
    .slideContainer p {
        font-size: 1.5em;
    }
    #index-slide-abstract {
        height: 220px; /* 440 -> 220 */
        width: 220px;
    }
    /*----- FINANCIAL : tax-split -----*/
    #financial-split-tax-image {
        height: 350px;
        width: 350px;
    }
    #financial-split-tax-text {
        font-size: 1.6em;
    }
}


@media only screen and (max-width: 1149px) {
    /*----- FINANCIAL : aid-split, tax-split -----*/
    #financial-split-text {
        font-size: 1.6em;
    }
    #financial-split-tax-image {
        height: 300px;
        width: 300px;
    }
    #financial-split-tax-text {
        font-size: 1.4em;
    }
}


@media only screen and (max-width: 1052px) {
    /*----- INDEX : about -----*/
    #index-split-abstract {
        height: 400px;
        width: 400px;
    }
    #index-split-image {
        height: 400px;
        width: 400px;
    }
    #index-split-text {
        font-size: 1.5em;
    }
}


@media only screen and (max-width: 1000px) {
    /*----- HEADER : logo, navLinks -----*/
    header img {
        height: 90px;
        width: 180px;
    }
    .navLink a, .navLink2 a {
        font-size: 1em;
    }

    /*----- INDEX : slideshow -----*/
    .slideTrack { /* changing to 2-slide width */
        width: 460px;
    }
    @keyframes iconSlide {
        from {transform: translateX(0px);}
        to {transform: translateX(calc(100% * -6));}
    }
    #index-slide-abstract {
        height: 200px;
        width: 200px;
    }
    /*----- FINANCIAL : aid-split, tax-split -----*/
    #financial-split-text {
        font-size: 1.4em;
    }
    #financial-split-image {
        height: 350px;
        width: 350px;
    }

    #financial-split-tax-image {
        height: 250px;
        width: 250px;
    }
    #financial-split-tax-text {
        font-size: 1.2em;
    }
}


@media only screen and (max-width: 800px) {
    /*----- INDEX : about -----*/
    #index-split-abstract {
        height: 300px;
        width: 300px;
    }
    #index-split-image {
        height: 300px;
        width: 300px;
    }
    #index-split-text {
        font-size: 1em;
    }
}


@media only screen and (max-width: 794px) {
    #financial-split-text {
        font-size: 1.2em;
    }
    #financial-split-image {
        height: 300px;
        width: 300px;
    }

    #financial-split-tax-image {
        height: 200px;
        width: 200px;
    }
    #financial-split-tax-text {
        font-size: 1em;
    }
    
}

@media only screen and (max-width: 760px) {
    /*----- INDEX : slideshow -----*/
    .slideTrack { /* changing to 1-slide width */
        width: 230px;
    }
    @keyframes iconSlide {
        from {transform: translateX(0px);}
        to {transform: translateX(calc(100% * -7));}
    }

}

@media only screen and (max-width: 725px) { /* DROPDOWN */
    /*----- HEADER : dropdown -----*/
    header ul {       
        display: none;
    }
    .dropdown-button {
        display: flex;
    }

    #index-nav, #financial-nav{
        position: absolute;
        flex-wrap: wrap;
        max-width: min-content;
        background-color:#d79922;
        right: 0px;
        top: 70px;
        z-index: 3;
    }
    #index-nav li, #financial-nav li{
        flex-basis: 100%;
        padding: 10px 10px;
    }
    .navLink a, .navLink2 a{
        padding: 0px;
        border: none;
    }
    .navLink a:hover, .navLink2 a:hover {
        border: none;
        background-color:rgba(0, 0, 0, 0);
        color: #4056a1;
    }
}

@media only screen and (max-width: 645px) {
    #financial-split-text {
        font-size: 1em;
    }
    #financial-split-image {
        height: 250px;
        width: 250px;
    }
}

@media only screen and (max-width: 583px) { /*mobile split changes*/
    /*----- INDEX : about-split -----*/
    #index-split-container, #financial-split-container, #financial-split-tax-container { /*mobile attributes*/
        text-align: center;
    }
    #index-split-abstract {
        display: none;
    }
    #index-split-image {
        transform: rotate(35deg);
        height: 250px;
        width: 250px;
        position: absolute;
        left: -120px;
        top: -10px;
    }
    #index-split-text {
        padding-top: 50px;
        max-width: 90%;
    }

    /*----- FINANCIAL : aid-split, tax-split -----*/
    /*split container centered above*/
    #financial-split-image, #financial-split-tax-image {
        display: none;
    }
    #financial-split-text, #financial-split-tax-text {
        font-size: 1em;
        max-width: 90%;
        padding: 35px 0px 45px 0px;
    }
    .financial-split-hidden1, .financial-split-hidden2 {
        display: inline;
        height: 160px;
        width: 160px;
    }
    .financial-split-hidden1 {
        left: 0px;
        top: 0px;
    }
    .financial-split-hidden2 {
        right: 0px;
        bottom: 0px;
    }


}

@media only screen and (max-width: 530px) {
    /*----- INDEX : slideshow -----*/
    .slideContainer p {
        font-size: 1.2em; /*1.5 -> 1.2*/
    }
    .slideTrack img {
        height: 150px; /* 200 -> 150, 30 width of padding */
        width: 150px;
    }
    .slideTrack {
        width: 180px;
    }
    #index-slide-abstract {
        height: 160px; /*200 -> 150*/
        width: 160px;
    }
}

@media only screen and (max-width: 440px) { /* iPhone XR */
    /*----- INDEX : slideshow -----*/
    .slideContainer p {
        font-size: .9em;
    }
}