/*==================== INDEX PAGE ====================*/
#index-cuerpo, #financial-cuerpo {
    margin: 0%;
    background-color: #c5cbe3;
}
.abstract {
    position: absolute;
    z-index: 1;
}




/*==================== INDEX PAGE ====================*/

/* Index Logo, Navbar, and section below Logo */
header nav{
    display: flex;
    justify-content: space-between;
    background-color: #4056a1;
}

#borderlessDreams { /* Index Logo */
    transform: translate(10%, 16%);
}
header img {
    display: block;
    height: 120px;
    width: 240px;
}

header ul { /* Index Navbar */
    list-style: none;
    padding: 0%;
    margin: 0%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLink, .navLink2 {
    padding-right: 15px;
}
.navLink a, .navLink2 a {
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Libre Franklin', sans-serif;
    color: #c5cbe3;
}
.navLink a {
    padding: 5px 10px;
    border: solid 1px #d79922;
    border-radius: 18px;
    display: block;
}

.navLink a:hover {
    background-color: #d79922;
    color: #4056a1;
}
.navLink2 a:hover {
    border-bottom: 1px solid #d79922;
}

#logoNameHolder { /* logo name holder */
    background-color: #c5cbe3;
    width: 100%;
    display: inline-block;
    height: 20px;
}




/* Index Slideshow */
.slideContainer {
    background-color: #c5cbe3;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 15px 0px;
}
.slideTrack {
    display: flex;
    overflow: hidden;
    width: 930px; /*310, 620, 930*/
    justify-content: flex-start;
}
.slideTrack a {
    padding: 20px 30px;
    animation: iconSlide 18s ease-in-out 3s infinite alternate none;
}
.slideTrack img {
    height: 250px; /* starting index-slide-img*/
    width: 250px;
    display: block;
}
.slideTrack a:hover {
    border-bottom: #f13c20 solid 5px;
}
@keyframes iconSlide {
    from {transform: translateX(0px);}
    to {transform: translateX(calc(100% * -5));}
}

.slideContainer p {
    font-size: 1.75em;
    color: #f13c20;
    font-family: 'Libre Franklin', sans-serif;
}

#index-slide-abstract {
    height: 290px;
    width: 290px;
    bottom: 0px;
    right: 20px;
}





/* splitContainer source code + index split */
.splitContainer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 30px 0px;
    position: relative;
}
.splitContainer a {
    color: #efe2ba;
    background-color: #4056a1;
    border-radius: 10px;
    text-decoration: none;
    padding: 1px 5px;
}
.splitContainer a:hover { /*financial links*/
    color: #f13c20;
}
#index-split-container {
    background-color: #4056a1;
}
#index-split-image, #financial-split-image {
    height: 400px;
    width: 400px;
    z-index: 2;
}
#index-split-text {
    color: #efe2ba; /* unique to index split */
    margin: 0%;
    max-width: 45%;
    font-size: 2em;
    font-family: 'Libre Franklin', sans-serif;
    z-index: 2;
    line-height: 1.25;
}
#index-split-header{
    color: #d79922;
} 
#index-split-abstract {
    left: 0;
    top: 50%;
    height: 440px;
    width: 440px;
}




.questionContainer {
    background-color: #d79922;
    padding: 25px 0px;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}
.questionContainer .questionsHeader {
    font-size: 2em;
    color: red;
    margin: 0%;
}
.questionContainer .question {
    font-size: 1.5em;
    padding: 15px 0px;
    margin: auto;
    display: inline-block;
}
.questionContainer .answerToggle {
    font-size: .5em;
}
.questionContainer .answer {
    color: white;
    width: 90%;
    margin: auto;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}



/*==================== INDEX RESPONSIVENESS ====================*/

@media only screen and (max-width: 1190px) {
    /*----- INDEX : slideshow -----*/
    .slideTrack {
        width: 690px; /* 230, 460, 690 */
    }
    .slideTrack a {
        padding: 10px 15px;
    }
    .slideTrack img {
        height: 200px; /* 250 -> 200 */
        width: 200px;
    }
    .slideContainer p {
        font-size: 1.5em;
    }
    #index-slide-abstract {
        height: 220px; /* 440 -> 220 */
        width: 220px;
    }
}

@media only screen and (max-width: 1052px) {
    /*----- INDEX : about -----*/
    #index-split-abstract {
        height: 400px;
        width: 400px;
    }
    #index-split-image {
        height: 400px;
        width: 400px;
    }
    #index-split-text {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1000px) {
    /*----- HEADER : logo, navLinks -----*/
    header img {
        height: 80px;
        width: 160px;
    }
    .navLink a, .navLink2 a {
        font-size: 1em;
    }

    /*----- INDEX : slideshow -----*/
    .slideTrack { /* changing to 2-slide width */
        width: 460px;
    }
    @keyframes iconSlide {
        from {transform: translateX(0px);}
        to {transform: translateX(calc(100% * -6));}
    }
    #index-slide-abstract {
        height: 200px;
        width: 200px;
    }
}

@media only screen and (max-width: 800px) {
    /*----- INDEX : about -----*/
    #index-split-abstract {
        height: 300px;
        width: 300px;
    }
    #index-split-image {
        height: 300px;
        width: 300px;
    }
    #index-split-text {
        font-size: 1em;
    }
}

@media only screen and (max-width: 760px) {
    /*----- INDEX : slideshow -----*/
    .slideTrack { /* changing to 1-slide width */
        width: 230px;
    }
    @keyframes iconSlide {
        from {transform: translateX(0px);}
        to {transform: translateX(calc(100% * -7));}
    }

}

@media only screen and (max-width: 680px) {
    /*----- HEADER : dropdown -----*/
    header ul {         /*tempoary fix until dropdown menu*/
        display: none;
    }

}

@media only screen and (max-width: 570px) {
    /*----- INDEX : about -----*/
    #index-split-container { /*mobile attributes*/
        text-align: center;
        flex-wrap: wrap;
    }
    #index-split-abstract {
        display: none;
    }
    #index-split-image {
        transform: rotate(35deg);
        height: 250px;
        width: 250px;
        position: absolute;
        left: -120px;
        top: -10px;
    }
    #index-split-text {
        padding-top: 50px;
        max-width: 90%;
    }
}

@media only screen and (max-width: 530px) {
    /*----- INDEX : slideshow -----*/
    .slideContainer p {
        font-size: 1.2em; /*1.5 -> 1.2*/
    }
    .slideTrack img {
        height: 150px; /* 200 -> 150, 30 width of padding */
        width: 150px;
    }
    .slideTrack {
        width: 180px;
    }
    #index-slide-abstract {
        height: 160px; /*200 -> 150*/
        width: 160px;
    }
}

@media only screen and (max-width: 440px) { /* iPhone XR */
    /*----- INDEX : slideshow -----*/
    .slideContainer p {
        font-size: .9em;
    }
}





/*==================== FINANCIAL PAGE ====================*/

/* financial split */
#financial-split-text {
    color: #4056a1; /* unique to financial split */
    font-size: 1.8em; /* unique to financial split */
    margin: 0%;
    max-width: 45%;
    font-family: 'Libre Franklin', sans-serif;
    z-index: 2;
    line-height: 1.25;
}
#financial-split-header {
    color: #f13c20;
}
#financial-split-abstract {
    height: 500px;
    width: 500px;
    right: 0px;
    bottom: 5%;
}
/* no abstract in this splitContainer */






/* financial information bubbles */
.financial-bubble {
    color: white;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}
.financial-bubbleHeading {
    color: white;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 0%;
    background-color: #4056a1;
    padding: 5px 0px;
}
.financial-bubbleText {
    background-color: #c5cbe3;
    margin: 0%;
    padding: 15px;
    color: #4056a1;
    font-family: 'Libre Franklin', sans-serif;
}
.financial-bubbleQuestion {
    color: #4056a1;
    font-size: 1.5em;
    text-decoration: underline overline red;
    display: block;
}